@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color:'#E5E5E5';
  color:"#2B2B2B";
  font-family:'Inter';
}
div{
  color:"#767676";
}
p {
  font-size: 12px;
  text-wrap: wrap;
}
h6{
  font-weight:bold;
  font-size: 15px;
  font-family: "Inter";
}
.section{
  @apply mt-5 mb-5 flex flex-col items-center
}

.shadow{
  @apply lg:my-0 sm:mb-4 
}
.expertise, .portfolio{
  @apply flex flex-col rounded-sm px-2 text-center bg-white h-52 md:w-3.1/10 sm:w-4/6 w-5/6 items-center justify-center hover:shadow-md
}
.portfolio{
  @apply cursor-pointer after:contents
}

.school{
  @apply grid grid-cols-2 justify-between gap-1
}
